<footer>
    <a href="#"><img src="assets/img/button_facebook.svg"></a>
    <a href="#popup_2"><img src="assets/img/button_info_grey.svg"></a>
    <div id="popup_2" class="overlay">
        <div id="popupBody">
            <h2>NEED HELP?</h2>
            <a id="cerrar" href="#"><img src="assets/img/button_close.png"></a>
            <div class="popupContent">
                <div class="chat">
                    <div class="food_log_ms">
                        <img src="assets/img/food_log.svg" alt="">
                        <div class="text_msm">Hello, how can we help you?</div>
                    </div>
                    <div class="user_ms">
                        <input type="text" name="user_ms" class="user_ms_resp" placeholder="Your message">
                        <div class="options_ms">
                            <img src="assets/img/button_camera.svg" alt="">
                            <img src="assets/img/button_attach.svg" alt="">
                            <img src="assets/img/button_send.svg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>