<div class="container_users">
    <header class="hi_header_restaurant">
        <div id="nav-icon">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <div id="overlay">
            <div>
                <ul>
                    <li><a href="edit_profile.html">EDIT PROFILE RESTAURANT</a></li>
                    <li><a href="restaurant_menu.html">MENU</a></li>
                    <li><a href="restaurant_orders.html">ORDERS</a></li>
                    <li><a href="drivers_available.html">DRIVER</a></li>
                </ul>
            </div>
        </div>
        <a href="hi_restaurant.html"><img src="assets/img/logo_blanco.svg" alt=""></a>
    </header>
    <a href="hi_restaurant.html">
        <div class="back_button">
            <span class="fas fa-chevron-left"></span>
        </div>
    </a>
    <div class="menu_title">
        <img src="assets/img/title_restaurant_order.svg" alt="">
        <h2 class="menu_h2">ORDERS</h2>
    </div>

    <div class="grid_restaurant_orders">
        <div class="restaurant_order_item">
            <span class="tag-wrap_order">
            <div class="photo_user_order_list">
              <img src="assets/img/user_order_1.jpg">
            </div>
          </span>
            <div class="order_info">
                <div class="order_user">
                    <h3>Order #: 8888</h3>
                    <h3>Name user</h3>
                    <h4>Orders Schedule: 13:03</h4>
                </div>
                <div class="manage_order">
                    <div class="manage_order_link">
                        <a href="order_details_restaurant.html"><img src="assets/img/button_manage_order.svg"></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="restaurant_order_item">
            <span class="tag-wrap_order">
            <div class="photo_user_order_list">
              <img src="assets/img/user_order_2.jpg">
            </div>
          </span>
            <div class="order_info">
                <div class="order_user">
                    <h3>Order #: 8889</h3>
                    <h3>Name user</h3>
                    <h4>Orders Schedule: 13:08</h4>
                </div>
                <div class="manage_order">
                    <img src="assets/img/button_manage_order.svg">
                </div>
            </div>
        </div>
        <div class="restaurant_order_item">
            <span class="tag-wrap_order">
            <div class="photo_user_order_list">
              <img src="assets/img/user_order_3.jpg">
            </div>
          </span>
            <div class="order_info">
                <div class="order_user">
                    <h3>Order #: 8890</h3>
                    <h3>Name user</h3>
                    <h4>Orders Schedule: 13:19</h4>
                </div>
                <div class="manage_order">
                    <img src="assets/img/button_manage_order.svg">
                </div>
            </div>
        </div>
    </div>
    <footer class="footer_restaurant">
        <div class="pop_up_buttons">
            <a href="#popup_1"><img src="assets/img/button_search.svg" alt=""></a>
            <a href="#popup_2"><img src="assets/img/button_info.svg" alt=""></a>
        </div>

        <div id="popup_1" class="overlay">
            <div id="popupBody">
                <h2>Search</h2>
                <a id="cerrar" href="#"><img src="assets/img/button_close.png"></a>
                <div class="popupContent">
                    <div class="search_popup">
                        <form>
                            <input type="text" name="search" placeholder="🔍 Search">
                        </form>
                    </div>

                </div>
            </div>
        </div>

        <div id="popup_2" class="overlay">
            <div id="popupBody">
                <h2>Need help?</h2>
                <a id="cerrar" href="#"><img src="assets/img/button_close.png"></a>
                <div class="popupContent">
                    <div class="chat">
                        <div class="food_log_ms">
                            <img src="assets/img/food_log.svg" alt="">
                            <div class="text_msm">Hello, how can we help you?</div>
                        </div>
                        <div class="user_ms">
                            <input type="text" name="user_ms" class="user_ms_resp" placeholder="Your message">
                            <div class="options_ms">
                                <img src="assets/img/button_camera.svg" alt="">
                                <img src="assets/img/button_attach.svg" alt="">
                                <img src="assets/img/button_send.svg" alt="">
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>