<div class="container_users">
    <header class="hi_header">
        <div id="nav-icon">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <div id="overlay">
            <div>
                <ul>
                    <li><a href="edit_profile.html">EDIT YOUR PROFILE</a></li>
                    <li><a href="menu.html">MENU</a></li>
                    <li><a href="restaurant.html">RESTAURANTS</a></li>
                    <li><a href="last_orders.html">LAST ORDERS</a></li>
                </ul>
            </div>
        </div>


        <a href="hi.html"><img src="assets/img/logo_blanco.svg" alt=""></a>
    </header>
    <div class="menu_title">
        <img src="assets/img/title_menu.svg" alt="">
        <h2 class="menu_h2">MENU</h2>
    </div>
    <form>
        <input type="text" class="search_menu" name="search" placeholder="🔍 Search">
    </form>
    <div class="grid_menu">
        <div class="types_food">
            <img src="assets/img/african_food.jpg" alt="African Food">
            <h4>AFRICAN FOOD</h4>
        </div>
        <div class="types_food">
            <img src="assets/img/american_food.jpg" alt="American Food">
            <h4>AMERICAN FOOD</h4>
        </div>
        <div class="types_food">
            <img src="assets/img/asian_food.jpg" alt="American Food">
            <h4> ASIAN FOOD</h4>
        </div>
        <div class="types_food">
            <img src="assets/img/australian_food.jpg" alt="American Food">
            <h4>AUSTRALIAN FOOD</h4>
        </div>
        <div class="types_food">
            <img src="assets/img/chinese_food.jpg" alt="American Food">
            <h4>CHINESE FOOD</h4>
        </div>
        <div class="types_food">
            <img src="assets/img/european_food.jpg" alt="American Food">
            <h4>EUROPEAN FOOD</h4>
        </div>
        <div class="types_food">
            <img src="assets/img/indian_food.jpg" alt="American Food">
            <h4>INDIAN FOOD</h4>
        </div>
        <div class="types_food">
            <a href="restaurant.html">
                <img src="assets/img/italian_food.jpg" alt="Italian Food">
                <h4>ITALIAN FOOD</h4>
            </a>
        </div>
        <div class="types_food">
            <img src="assets/img/latin_food.jpg" alt="Latin American Food">
            <h4>LATIN AMERICAN FOOD</h4>
        </div>
        <div class="types_food">
            <img src="assets/img/middle_food.jpg" alt="American Food">
            <h4>MIDDLE EASTERN FOOD</h4>
        </div>
        <div class="types_food">
            <img src="assets/img/southeast_food.jpg" alt="American Food">
            <h4>SOUTH EAST ASIAN FOOD</h4>
        </div>
        <div class="types_food">
            <img src="assets/img/vegan_food.jpg" alt="Vegan Food">
            <h4>VEGAN FOOD</h4>
        </div>
        <div class="types_food">
            <img src="assets/img/vegetarian_food.jpg" alt="Vegetarian Food">
            <h4>VEGETARIAN FOOD</h4>
        </div>
        <div class="types_food">
            <img src="assets/img/drink.jpg" alt="Drink">
            <h4>DRINK</h4>
        </div>
        <div class="types_food">
            <img src="assets/img/essential.jpg" alt="Essentials">
            <h4>ESSENTIALS</h4>
        </div>
    </div>
    <footer class="footer_user">
        <div class="pop_up_buttons">
            <a href="#popup_1"><img src="assets/img/button_search.svg" alt=""></a>
            <a href="#popup_2"><img src="assets/img/button_info.svg" alt=""></a>
            <a href="#popup_3"><img src="assets/img/button_contact.svg" alt=""></a>
        </div>

        <div id="popup_1" class="overlay">
            <div id="popupBody">
                <h2>Search</h2>
                <a id="cerrar" href="#"><img src="assets/img/button_close.png"></a>
                <div class="popupContent">
                    <div class="search_popup">
                        <form>
                            <input type="text" name="search" placeholder="&#128269; Search">
                        </form>
                    </div>

                </div>
            </div>
        </div>

        <div id="popup_2" class="overlay">
            <div id="popupBody">
                <h2>NEED HELP?</h2>
                <a id="cerrar" href="#"><img src="assets/img/button_close.png"></a>
                <div class="popupContent">
                    <div class="chat">
                        <div class="food_log_ms">
                            <img src="assets/img/food_log.svg" alt="">
                            <div class="text_msm">Hello, how can we help you?</div>
                        </div>
                        <div class="user_ms">
                            <input type="text" name="user_ms" class="user_ms_resp" placeholder="Your message">
                            <div class="options_ms">
                                <img src="assets/img/button_camera.svg" alt="">
                                <img src="assets/img/button_attach.svg" alt="">
                                <img src="assets/img/button_send.svg" alt="">
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div id="popup_3" class="overlay">
            <div id="popupBody">
                <h2>CONTACT US</h2>
                <a id="cerrar" href="#"><img src="assets/img/button_close.png"></a>
                <div class="popupContent">
                    <input type="text" name="user_name" class="contact_data" placeholder="Your Name">
                    <input type="text" name="user_ms" class="contact_data" placeholder="Your Telephone">
                    <input type="email" name="user_ms" class="contact_data" placeholder="Your e-mail">
                    <div class="comment">
                        <textarea class="textinput" placeholder="Comment"></textarea>
                    </div>
                    <input type="submit" value="SEND" class="send_user">
                </div>
            </div>
        </div>
    </footer>
</div>