<div class="container_users">
    <header class="hi_header_restaurant">
        <div id="nav-icon">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <div id="overlay">
            <div>
                <ul>
                    <li><a href="edit_profile.html">EDIT PROFILE RESTAURANT</a></li>
                    <li><a href="restaurant_menu.html">MENU</a></li>
                    <li><a href="restaurant_orders.html">ORDERS</a></li>
                    <li><a href="drivers_available.html">DRIVER</a></li>
                </ul>
            </div>
        </div>
        <a href="hi_restaurant.html"><img src="assets/img/logo_blanco.svg" alt=""></a>
    </header>
    <a href="order_details_restaurant.html">
        <div class="back_button">
            <span class="fas fa-chevron-left"></span>
        </div>
    </a>
    <div class="menu_title">
        <img src="assets/img/title_driver_request.svg" alt="">
        <h2 class="menu_h2">DRIVERS AVAILABLE</h2>
    </div>

    <div class="grid_drivers">
        <div class="driver_options">
            <span class="tag-wrap_driver">
            <div class="driver_order_list">
              <img src="assets/img/driver_1.jpg">
            </div>
          </span>
            <div class="driver_info_restaurant">
                <div class="order_user">
                    <h3>Name Driver</h3>
                    <h4>Motorcycle</h4>
                    <p><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></p>
                </div>
                <div class="confirm_driver">
                    <div class="manage_confirm_driver">
                        <a href="order_details_restaurant_2.html"><img src="assets/img/button_confirm_driver.svg"></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="driver_options">
            <span class="tag-wrap_driver">
            <div class="driver_order_list">
              <img src="assets/img/driver_2.jpg">
            </div>
          </span>
            <div class="driver_info_restaurant">
                <div class="order_user">
                    <h3>Name Driver</h3>
                    <h4>Bicycle</h4>
                    <p><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></p>
                </div>
                <div class="confirm_driver">
                    <div class="manage_confirm_driver">
                        <a href="#"><img src="assets/img/button_confirm_driver.svg"></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="driver_options">
            <span class="tag-wrap_driver">
            <div class="driver_order_list">
              <img src="assets/img/driver_3.jpg">
            </div>
          </span>
            <div class="driver_info_restaurant">
                <div class="order_user">
                    <h3>Name Driver</h3>
                    <h4>Car</h4>
                    <p><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i></p>
                </div>
                <div class="confirm_driver">
                    <div class="manage_confirm_driver">
                        <a href="#"><img src="assets/img/button_confirm_driver.svg"></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="driver_options">
            <span class="tag-wrap_driver">
            <div class="driver_order_list">
              <img src="assets/img/driver_4.jpg">
            </div>
          </span>
            <div class="driver_info_restaurant">
                <div class="order_user">
                    <h3>Name Driver</h3>
                    <h4>Car</h4>
                    <p><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i></p>
                </div>
                <div class="confirm_driver">
                    <div class="manage_confirm_driver">
                        <a href="#"><img src="assets/img/button_confirm_driver.svg"></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="driver_options">
            <span class="tag-wrap_driver">
            <div class="driver_order_list">
              <img src="assets/img/driver_5.jpg">
            </div>
          </span>
            <div class="driver_info_restaurant">
                <div class="order_user">
                    <h3>Name Driver</h3>
                    <h4>Van</h4>
                    <p><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i></p>
                </div>
                <div class="confirm_driver">
                    <div class="manage_confirm_driver">
                        <a href="#"><img src="assets/img/button_confirm_driver.svg"></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="driver_options">
            <span class="tag-wrap_driver">
            <div class="driver_order_list">
              <img src="assets/img/driver_6.jpg">
            </div>
          </span>
            <div class="driver_info_restaurant">
                <div class="order_user">
                    <h3>Name Driver</h3>
                    <h4>Motorcycle</h4>
                    <p><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i></p>
                </div>
                <div class="confirm_driver">
                    <div class="manage_confirm_driver">
                        <a href="#"><img src="assets/img/button_confirm_driver.svg"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer_restaurant">
        <div class="pop_up_buttons">
            <a href="#popup_1"><img src="assets/img/button_search.svg" alt=""></a>
            <a href="#popup_2"><img src="assets/img/button_info.svg" alt=""></a>
        </div>

        <div id="popup_1" class="overlay">
            <div id="popupBody">
                <h2>Search</h2>
                <a id="cerrar" href="#"><img src="assets/img/button_close.png"></a>
                <div class="popupContent">
                    <div class="search_popup">
                        <form>
                            <input type="text" name="search" placeholder="🔍 Search">
                        </form>
                    </div>

                </div>
            </div>
        </div>

        <div id="popup_2" class="overlay">
            <div id="popupBody">
                <h2>Need help?</h2>
                <a id="cerrar" href="#"><img src="assets/img/button_close.png"></a>
                <div class="popupContent">
                    <div class="chat">
                        <div class="food_log_ms">
                            <img src="assets/img/food_log.svg" alt="">
                            <div class="text_msm">Hello, how can we help you?</div>
                        </div>
                        <div class="user_ms">
                            <input type="text" name="user_ms" class="user_ms_resp" placeholder="Your message">
                            <div class="options_ms">
                                <img src="assets/img/button_camera.svg" alt="">
                                <img src="assets/img/button_attach.svg" alt="">
                                <img src="assets/img/button_send.svg" alt="">
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>