<div class="container">
    <header class="login_header">
        <h2>LOGIN</h2>
        <a href="index.html"><img src="assets/img/logo_blanco.svg" alt=""></a>
    </header>
    <main class="login_main">
        <div class="form_login">
            <form action="">
                <input type="text" placeholder="👤 User" name="user">
                <input type="password" placeholder="🔐 Password" name="password">
                <!--<input type="submit" value="LOGIN">-->
                <a href="hi.html" class="login_buttom_submit">Login</a>
            </form>

        </div>
        <h3>Did you forget your password?</h3>
    </main>
    <footer class="login_footer">

    </footer>
</div>