<div class="container_users">
    <header class="hi_header">
        <div id="nav-icon">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <div id="overlay">
            <div>
                <ul>
                    <li><a href="edit_profile.html">EDIT YOUR PROFILE</a></li>
                    <li><a href="menu.html">MENU</a></li>
                    <li><a href="restaurant.html">RESTAURANTS</a></li>
                    <li><a href="last_ordres.html">LAST ORDERS</a></li>
                </ul>
            </div>
        </div>
        <a href="hi.html"><img src="assets/img/logo_blanco.svg"></a>
    </header>
    <div class="user_bar">
        Hi, User Name
    </div>
    <span class="tag-wrap">
      <div class="photo_user">
        <img src="assets/img/user.jpg" alt="">
      </div>
    </span>
    <a href="edit_profile.html">
        <h3>Edit your Profile</h3>
    </a>
    <div class="options_user">
        <div class="option_user">
            <a href="menu.html">
                <img src="assets/img/button_menu.svg" alt="Menu">
                <p>MENU</p>
            </a>
        </div>
        <div class="option_user">
            <a href="restaurant.html">
                <img src="assets/img/button_restaurantes.svg" alt="Restaurants">
                <p>RESTAURANTS</p>
            </a>
        </div>
        <div class="option_user">
            <a href="last_orders.html">
                <img src="assets/img/button_lastorders.svg" alt="Last Orders">
                <p>LAST ORDERS</p>
            </a>
        </div>
    </div>
    <h2>Special deals</h2>



    <div class="slider">
        <ul class="sliders">
            <li>
                <img src="assets/img/hamburguer_slider.jpg" alt="">
                <section class="caption">
                    <div class="tip">
                        <div class="tip_product">Hamburguer</div>
                        <div class="cost">$10</div>
                        <div class="order_tip">
                            <img src="assets/img/order_tip.svg" alt="">
                        </div>
                    </div>
                </section>
            </li>
            <li>
                <img src="assets/img/pizza_slider.jpg" alt="">
                <section class="caption">
                    <div class="tip">
                        <div class="tip_product">Pizza</div>
                        <div class="cost">$22</div>
                        <div class="order_tip">
                            <img src="assets/img/order_tip.svg" alt="">
                        </div>
                    </div>
                </section>
            </li>
            <li>
                <img src="assets/img/perrito.jpg" alt="">
                <section class="caption">
                    <div class="tip">
                        <div class="tip_product">Hot Dog</div>
                        <div class="cost">$7</div>
                        <div class="order_tip">
                            <img src="assets/img/order_tip.svg" alt="">
                        </div>
                    </div>
                </section>
            </li>
        </ul>
        <ol class="paginacion">

        </ol>
        <div class="left">
            <span class="fas fa-angle-left"></span>
        </div>
        <div class="right">
            <span class="fas fa-angle-right"></span>
        </div>
    </div>
    <footer class="footer_user">
        <div class="pop_up_buttons">
            <a href="#popup_1"><img src="assets/img/button_search.svg" alt=""></a>
            <a href="#popup_2"><img src="assets/img/button_info.svg" alt=""></a>
            <a href="#popup_3"><img src="assets/img/button_contact.svg" alt=""></a>
        </div>

        <div id="popup_1" class="overlay">
            <div id="popupBody">
                <h2>Search</h2>
                <a id="cerrar" href="#"><img src="assets/img/button_close.png"></a>
                <div class="popupContent">
                    <div class="search_popup">
                        <form>
                            <input type="text" name="search" placeholder="🔍 Search">
                        </form>
                    </div>

                </div>
            </div>
        </div>

        <div id="popup_2" class="overlay">
            <div id="popupBody">
                <h2>NEED HELP?</h2>
                <a id="cerrar" href="#"><img src="assets/img/button_close.png"></a>
                <div class="popupContent">
                    <div class="chat">
                        <div class="food_log_ms">
                            <img src="assets/img/food_log.svg" alt="">
                            <div class="text_msm">Hello, how can we help you?</div>
                        </div>
                        <div class="user_ms">
                            <input type="text" name="user_ms" class="user_ms_resp" placeholder="Your message">
                            <div class="options_ms">
                                <img src="assets/img/button_camera.svg" alt="">
                                <img src="assets/img/button_attach.svg" alt="">
                                <img src="assets/img/button_send.svg" alt="">
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div id="popup_3" class="overlay">
            <div id="popupBody">
                <h2>CONTACT US</h2>
                <a id="cerrar" href="#"><img src="assets/img/button_close.png"></a>
                <div class="popupContent">
                    <input type="text" name="user_name" class="contact_data" placeholder="Your Name">
                    <input type="text" name="user_ms" class="contact_data" placeholder="Your Telephone">
                    <input type="email" name="user_ms" class="contact_data" placeholder="Your e-mail">
                    <div class="comment">
                        <textarea class="textinput" placeholder="Comment"></textarea>
                    </div>
                    <input type="submit" value="SEND" class="send_user">
                </div>
            </div>
        </div>
    </footer>
</div>