<div class="container_users">
    <header class="hi_header_restaurant">
        <div id="nav-icon">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <div id="overlay">
            <div>
                <ul>
                    <li><a href="edit_profile.html">EDIT PROFILE RESTAURANT</a></li>
                    <li><a href="restaurant_menu.html">MENU</a></li>
                    <li><a href="restaurant_orders.html">ORDERS</a></li>
                    <li><a href="drivers_available.html">DRIVER</a></li>
                </ul>
            </div>
        </div>
        <a href="hi_restaurant.html"><img src="assets/img/logo_blanco.svg" alt=""></a>
    </header>
    <a href="restaurant_orders.html">
        <div class="back_button">
            <span class="fas fa-chevron-left"></span>
        </div>
    </a>
    <div class="menu_title">
        <img src="assets/img/title_restaurant_order.svg" alt="">
        <h2 class="menu_h2">ORDER # 8888</h2>
    </div>
    <div class="order_user_data">
        <span class="tag-wrap_order_details">
        <div class="photo_user_order">
          <img src="assets/img/user_order_1.jpg">
        </div>
      </span>
        <div class="number_user_hour">
            <h3>Name user</h3>
            <h4>Orders Schedule: 13:03</h4>
        </div>
    </div>
    <div class="user_order_restaurant">
        <div class="user_restaurant_order_item">
            <img src="assets/img/pizza_plate.jpg">
            <div class="food_order">
                <div class="plate_order">
                    <h3>Pizza</h3>
                    <h4>$22</h4>
                </div>
                <div class="quantity_order">
                    <h4>
                        Quantity
                    </h4>
                    <div class="quantity">1</div>
                </div>
            </div>
        </div>
        <div class="user_restaurant_order_item">
            <img src="assets/img/lasagna_plate.jpg">
            <div class="food_order">
                <div class="plate_order">
                    <h3>Lasagna</h3>
                    <h4>$16</h4>
                </div>
                <div class="quantity_order">
                    <h4>
                        Quantity
                    </h4>
                    <div class="quantity">1</div>
                </div>
            </div>
        </div>
        <div class="sub_total_order_restaurant">
            SUBTOTAL: $38
        </div>
    </div>
    <div class=delivery_location>
        <h3>
            Delivery location</h3>
        <h4>
            3 Phillip Law Street Canberra ACT 1234
        </h4>
        <a href="drivers_available.html" class="request_driver_buttom_submit">Request driver</a>
    </div>
    <div class="map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d44241.40246143334!2d151.14131136876225!3d-33.88733613676245!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6b129838f39a743f%3A0x3017d681632a850!2sS%C3%ADdney%20Nueva%20Gales%20del%20Sur%2C%20Australia!5e0!3m2!1ses!2sco!4v1587746239905!5m2!1ses!2sco"
            width="100%" height="500px" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    </div>
    <footer class="footer_restaurant">
        <div class="pop_up_buttons">
            <a href="#popup_1"><img src="assets/img/button_search.svg" alt=""></a>
            <a href="#popup_2"><img src="assets/img/button_info.svg" alt=""></a>
        </div>

        <div id="popup_1" class="overlay">
            <div id="popupBody">
                <h2>Search</h2>
                <a id="cerrar" href="#"><img src="assets/img/button_close.png"></a>
                <div class="popupContent">
                    <div class="search_popup">
                        <form>
                            <input type="text" name="search" placeholder="🔍 Search">
                        </form>
                    </div>

                </div>
            </div>
        </div>

        <div id="popup_2" class="overlay">
            <div id="popupBody">
                <h2>Need help?</h2>
                <a id="cerrar" href="#"><img src="assets/img/button_close.png"></a>
                <div class="popupContent">
                    <div class="chat">
                        <div class="food_log_ms">
                            <img src="assets/img/food_log.svg" alt="">
                            <div class="text_msm">Hello, how can we help you?</div>
                        </div>
                        <div class="user_ms">
                            <input type="text" name="user_ms" class="user_ms_resp" placeholder="Your message">
                            <div class="options_ms">
                                <img src="assets/img/button_camera.svg" alt="">
                                <img src="assets/img/button_attach.svg" alt="">
                                <img src="assets/img/button_send.svg" alt="">
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>