<div class="container">

    <app-header></app-header>

    <main>
        <a href="login.html" class="login_buttom">Login</a>
        <div class="register_options">
            <h2>If it´s your first time sign up</h2>
            <div class="register_buttoms">
                <div class="register_buttom_users">
                    <a href="register_user.html">
                        <img src="assets/img/button_user.svg" alt="">
                        <p>ORDER YOUR FOOD</p>
                    </a>
                </div>
                <div class="register_buttom_users">
                    <a href="register_restaurant.html">
                        <img src="assets/img/button_restaurant.svg" alt="">
                        <p>AS A RESTAURANT</p>
                    </a>
                </div>
                <div class="register_buttom_users">
                    <a href="#">
                        <img src="assets/img/button_driver.svg" alt="">
                        <p>AS A DRIVER</p>
                    </a>
                </div>

            </div>
        </div>


        <app-footer></app-footer>

    </main>
</div>