<div class="container_register_restaurant">
    <header class="restaurant_header">
        <h2>RESTAURANT</h2>
        <a href="index.html"><img src="assets/img/logo_blanco.svg" alt=""></a>
    </header>
    <main class="register_restaurant_main">
        <div class="form_login">
            <form action="">
                <input type="text" placeholder="🍴 Restaurant" name="restaurant" class="register_form">
                <input type="text" placeholder="🆔 ABN" name="abn" class="register_form">
                <input type="email" placeholder="📧 e-mail" name="e-mail" class="register_form">
                <input type="password" placeholder="🔐 Password" name="password" class="register_form">
                <label class="checkbox">Terms and conditions
          <input type="checkbox" class="check_form">
          <span class="check"></span>
          </label>
                <!--<input type="submit" value="REGISTER">-->
                <a href="#popup_1" class="login_buttom_submit">REGISTER</a>
            </form>

        </div>
    </main>
    <div id="popup_1" class="overlay">
        <div id="popupBody">
            <h2>CONGRATULATIONS!</h2>
            <a id="cerrar" href="#"><img src="assets/img/button_close.png"></a>
            <div class="popupContent">
                <h3>You are now ready to place your first order</h3>
                <a href="hi_restaurant.html" class="login_buttom_submit">Login now</a>
            </div>
        </div>
    </div>
    <footer class="restauntant_register_footer">

    </footer>
</div>