<div class="container_users">
    <header class="hi_header_restaurant">
        <div id="nav-icon">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <div id="overlay">
            <div>
                <ul>
                    <li><a href="edit_profile.html">EDIT PROFILE RESTAURANT</a></li>
                    <li><a href="restaurant_menu.html">MENU</a></li>
                    <li><a href="restaurant_orders.html">ORDERS</a></li>
                    <li><a href="drivers_available.html">DRIVER</a></li>
                </ul>
            </div>
        </div>
        <a href="hi_restaurant.html"><img src="assets/img/logo_blanco.svg" alt=""></a>
    </header>
    <a href="restaurant_menu.html">
        <div class="back_button">
            <span class="fas fa-chevron-left"></span>
        </div>
    </a>
    <div class="menu_title">
        <img src="assets/img/title_edit_disches.svg" alt="">
        <h2 class="menu_h2">EDIT DISCHES</h2>
    </div>
    <div class="edit_disches">
        <div class="edit_img_plate">
            <div class="change_photo_plate">
                <a href="#"><img src="assets/img/button_change_photo_white.png"></a>
            </div>
            <img src="assets/img/pizza_edit.jpg">
        </div>
        <div class="edit_info_plate">
            <h4>PLATE</h4>
            <input type="text" name="user_name" class="plate_data" placeholder="Plate">
            <h4>CATEGORY</h4>
            <input type="text" name="user_ms" class="plate_data" placeholder="Category">
            <h4>PRICE</h4>
            <input type="text" name="user_ms" class="plate_data" placeholder="Price">
            <h4>DESCRIPTION</h4>
            <div class="description_plate">
                <textarea class="textinput" placeholder="Description"></textarea>
            </div>
            <!--<input type="submit" value="SEND">-->
            <a href="restaurant_menu.html" class="save_buttom_submit">Save</a>
        </div>
    </div>

    <footer class="footer_restaurant">
        <div class="pop_up_buttons">
            <a href="#popup_1"><img src="assets/img/button_search.svg" alt=""></a>
            <a href="#popup_2"><img src="assets/img/button_info.svg" alt=""></a>
        </div>

        <div id="popup_1" class="overlay">
            <div id="popupBody">
                <h2>Search</h2>
                <a id="cerrar" href="#"><img src="assets/img/button_close.png"></a>
                <div class="popupContent">
                    <div class="search_popup">
                        <form>
                            <input type="text" name="search" placeholder="🔍 Search">
                        </form>
                    </div>

                </div>
            </div>
        </div>

        <div id="popup_2" class="overlay">
            <div id="popupBody">
                <h2>Need help?</h2>
                <a id="cerrar" href="#"><img src="assets/img/button_close.png"></a>
                <div class="popupContent">
                    <div class="chat">
                        <div class="food_log_ms">
                            <img src="assets/img/food_log.svg" alt="">
                            <div class="text_msm">Hello, how can we help you?</div>
                        </div>
                        <div class="user_ms">
                            <input type="text" name="user_ms" class="user_ms_resp" placeholder="Your message">
                            <div class="options_ms">
                                <img src="assets/img/button_camera.svg" alt="">
                                <img src="assets/img/button_attach.svg" alt="">
                                <img src="assets/img/button_send.svg" alt="">
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>