<div class="container_users">
    <header class="hi_header_restaurant">
        <div id="nav-icon">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <div id="overlay">
            <div>
                <ul>
                    <li><a href="edit_profile.html">EDIT YOUR PROFILE</a></li>
                    <li><a href="menu.html">MENU</a></li>
                    <li><a href="restaurant.html">RESTAURANTS</a></li>
                    <li><a href="last_orders.html">LAST ORDERS</a></li>
                </ul>
            </div>
        </div>


        <a href="hi_restaurant.html"><img src="assets/img/logo_blanco.svg" alt=""></a>
    </header>
    <div class="restaurant_bar">
        Restaurant
    </div>
    <span class="tag-wrap_restaurant">
      <div class="photo_restaurant">
        <div class="change_photo">
          <a href="#"><img src="assets/img/button_change_photo_restaurant.png"></a>
        </div>
        <img src="assets/img/user.jpg" alt="">
      </div>
    </span>
    <form action="" class="form_edit_profile">
        <input type="text" placeholder="🍴 Restaurant" name="restaurant" class="edit_profile">
        <input type="email" placeholder="📧 e-mail" name="e-mail" class="edit_profile">
        <input type="text" placeholder="📱 Telephone" name="telephone" class="edit_profile">
        <input type="text" placeholder="🚏 Adress" name="adress" class="edit_profile">
        <input type="text" placeholder="🌏 Website" name="website" class="edit_profile">
        <input type="password" placeholder="🔐 Password" name="password" class="edit_profile">
        <!--<input type="submit" value="SAFE">-->
        <a href="#popup_1" class="safe_buttom_restaurant_submit">Safe</a>
        <div id="popup_1" class="overlay">
            <div id="popupBody">
                <a id="cerrar" href="hi.html"><img src="assets/img/button_close.png"></a>
                <div class="popupContent">
                    <div class="change_ok">
                        Changes have been saved successfully
                    </div>

                </div>
            </div>
        </div>
    </form>
    <footer class="footer_restaurant">
        <div class="pop_up_buttons">
            <a href="#popup_1"><img src="assets/img/button_search.svg" alt=""></a>
            <a href="#popup_2"><img src="assets/img/button_info.svg" alt=""></a>
        </div>

        <div id="popup_1" class="overlay">
            <div id="popupBody">
                <h2>Search</h2>
                <a id="cerrar" href="#"><img src="assets/img/button_close.png"></a>
                <div class="popupContent">
                    <div class="search_popup">
                        <form>
                            <input type="text" name="search" placeholder="&#128269; Search">
                        </form>
                    </div>

                </div>
            </div>
        </div>

        <div id="popup_2" class="overlay">
            <div id="popupBody">
                <h2>NEED HELP?</h2>
                <a id="cerrar" href="#"><img src="assets/img/button_close.png"></a>
                <div class="popupContent">
                    <div class="chat">
                        <div class="food_log_ms">
                            <img src="assets/img/food_log.svg" alt="">
                            <div class="text_msm">Hello, how can we help you?</div>
                        </div>
                        <div class="user_ms">
                            <input type="text" name="user_ms" class="user_ms_resp" placeholder="Your message">
                            <div class="options_ms">
                                <img src="assets/img/button_camera.svg" alt="">
                                <img src="assets/img/button_attach.svg" alt="">
                                <img src="assets/img/button_send.svg" alt="">
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>